<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please Enter Email and Password !!</h6>
                </div>
                
                    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="" style="color: white;" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email ID is Required*</span>
                        </div>

                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="" style="color: white;" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is Required*</span>
                        </div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>

                      </form>
                      <br>
                      <a style="color:white" routerLink="/signup">New User? Click here to Sign-Up</a>
                      <br>
                      <a style="color:white" routerLink="/forgotPassword">Forgot Password?</a>

                
            </div>
        </div>
    </div>
</div>
