<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Forgot Password</h1>
                </div>
                
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleSubmit()">

                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Enter Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                            <span *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid" >
                                <span class="" style="color: white;" *ngIf="forgotPasswordForm.controls.email.errors.required ">*Email ID is Required*</span>
                                <span class="" style="color: white;" *ngIf=" forgotPasswordForm.controls.email.errors.pattern ">*Email ID is Invalid*</span>
                            </span>
                        </div>

                        <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-primary">Send Password</button>

                      </form>
                      <br>
                      <a style="color:white" routerLink="/signup">New User? Click here to Sign-Up</a>
                      <br>
                    <a style="color:white" routerLink="/login">Already register? Click here to Login</a>


                
            </div>
        </div>
    </div>
</div>
